
body{font-family:GillSansW01-Book;}
    
    a{color:#b20837;}

p.content{font-size:18px;}

h2{color:#b20837; text-transform:uppercase;"}

.formpanel {
min-width:100%;
background-color:#3F3E3E;
border:5px solid #810628;
border-radius:10px; 
moz-border-radius:10px; 
webkit-border-radius:10px;
padding:5px;
margin-bottom:15px;
}

a.ui-button.icon-next {
    background-image: url('http://www.fmb.org.uk/css/css-img/icon-ui-button-next.svg');
    background-size: 25px 100px;
    background-repeat: no-repeat;
    background-position: 100% center;
    background-clip: padding-box;
    background-color:#b20837;
    margin-bottom:10px;
    margin-top:10px;
}

a.ui-button {
    font-family: 'GillSans Light';
    font-weight: normal;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-width: 150px;
    min-height: 30px;
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 0 40px 0 10px;
}

    .formpanel p.intro
    {color:#fff; font-size:18px;font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;}
    
    
    form{line-height:35px; padding:25px 5px 15px 12px; font-size:16px;}
label{margin-left:10px; width:85px; color:#fff; float:left;}
input{margin-left:20px; width:200px;  height:25px;}
select{margin-left:20px; width:200px; height:25px;}
input#send{width:100px; height:40px; background:#b20837; color:#ffffff; font-weight:bold; border-radius:2px; webkit-border-radius:2px; moz-border-radius:2px; margin-top:15px; text-transform:uppercase; }
    
    
    
    @media (max-width: 576px) {.heading-responsive{display:none;}}
    @media (max-width: 768px) {.heading-responsive{display:none;}}
      @media (max-width: 992px) {.heading-responsive{display:none;}}
    
    @media (max-width: 768px) {.responsive-sm{display:none;}}
   
    
   
    @media (max-width: 576px) {.responsive-center{text-align:center;}}
    @media (max-width: 768px) {.responsive-center{text-align:center;}}
    @media (max-width: 992px) {.responsive-center{text-align:center;}}
     @media (min-width: 992px) {p.desktop-right{float:right;}}
    
    @media (max-width: 480px) {.background-wrapper{display:none;}}
    @media (max-width: 480px) {.responsive-header-container{background-color:#3F3E3E; min-width:100%; overflow:hidden; height:250px; border-bottom:5px solid #b20837;  }}
     @media (max-width: 480px) {.responsive-header{background-color:#3F3E3E; background-image: url('https://www.fmb.org.uk/img/logos/fmb-logo.png'); height:150px; width:100px; margin-left:auto; margin-right:auto; display:block; background-repeat:no-repeat; margin-top:50px; }}
  
    
      
 
