 @font-face{
      font-family: "GillSansW01-Book";
      src: url("stylesheets/Gill-Sans-W01-Book.ttf");
    }
 @font-face{
      font-family: "GillSans Light";
      src: url("stylesheets/Gill-Sans-Light.ttf");
    }
 @font-face{
      font-family: "GillSansW01-Medium";
      src: url("stylesheets/Gill-Sans-W01-Medium.ttf");
    }

 @font-face{
      font-family: "SwiftW01-Light";
      src: url("stylesheets/Swift-W01-Light.ttf");
    }

 @font-face{
      font-family: "SwiftW01-Regular";
      src: url("stylesheets/Swift-W01-Regular.ttf");
    }



@font-face{
      font-family: "GillSansW01-Book";
      src: url("stylesheets/Gill-Sans-W01-Book.ttf"),
          url("stylesheets/Gill-Sans-W01-Book.woff");
    }
@font-face{
      font-family: "GillSans Light";
      src: url("stylesheets/Gill-Sans-Light.ttf"),
          url("stylesheets/Gill-Sans-Light.woff");
    }
@font-face{
      font-family: "GillSansW01-Medium";
      src: url("stylesheets/Gill-Sans-W01-Medium.ttf"),
      url("stylesheets/Gill-Sans-W01-Medium.woff");
    }

@font-face{
      font-family: "SwiftW01-Light";
      src: url("stylesheets/Swift-W01-Light.ttf"),
          url("stylesheets/Swift-W01-Light.woff");
    }

@font-face{
      font-family: "SwiftW01-Regular";
      src: url("stylesheets/Swift-W01-Regular.ttf"),
          url("stylesheets/Swift-W01-Regular.woff");
    }
