 @font-face{
      font-family: "GillSansW01-Book";
      src: url("stylesheets/gill-sans-W01-Book.ttf");
    }
 @font-face{
      font-family: "GillSans Light";
      src: url("stylesheets/gill-sans-light.ttf");
    }
 @font-face{
      font-family: "GillSansW01-Medium";
      src: url("stylesheets/gill-sans-w01-medium.ttf");
    }

 @font-face{
      font-family: "SwiftW01-Light";
      src: url("stylesheets/swift-w01-light.ttf");
    }

 @font-face{
      font-family: "SwiftW01-Regular";
      src: url("stylesheets/swift-w01-regular.ttf");
    }



@font-face{
      font-family: "GillSansW01-Book";
      src: url("stylesheets/gill-sans-W01-Book.ttf"),
          url("stylesheets/gill-sans-W01-Book.woff");
    }
@font-face{
      font-family: "GillSans Light";
      src: url("stylesheets/gill-sans-light.ttf"),
          url("stylesheets/gill-sans-light.woff");
    }
@font-face{
      font-family: "GillSansW01-Medium";
      src: url("stylesheets/gill-sans-w01-medium.ttf"),
      url("stylesheets/gill-sans-w01-medium.woff");
    }

@font-face{
      font-family: "SwiftW01-Light";
      src: url("stylesheets/swift-w01-light.ttf"),
          url("stylesheets/swift-w01-light.woff");
    }

@font-face{
      font-family: "SwiftW01-Regular";
      src: url("stylesheets/swift-w01-regular.ttf"),
          url("stylesheets/swift-w01-regular.woff");
    }
