body {
  padding:35px 50px 50px 50px;
  font-family: helvetica, myriad pro, arial;
  font-size:14px;
  color:#000000;
  background:transparent url('https://dl.dropboxusercontent.com/s/ic877g9nld2238p/bg1.jpg') top left repeat;
}


h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
  font-family: oswald, helvetica, myriad pro, arial;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:34px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}
a.bold
{font-weight:bold; font-size:15px;}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

#topheader
{width:auto; background:#39c; height:150px; border-bottom:3px solid #000000; margin:0;}

.wrapper {
  width:860px;
  margin:0 auto;
}


blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:absolute;
  
  
}

/* Social bookmarks */ 


#social{
  position:absolute; left:1px; top:350px; border:1px solid #000000; border-radius:3px; moz-border-radius:3px; webkit-border-radius:3px; padding:8px; background:#eee; line-height:5px; 
}

/* Placeholders */

#pagepanel {
width:270px;
background:#000000; 
border-radius:5px; 
moz-border-radius:5px; 
webkit-border-radius:5px;
padding:5px 7px 5px 5px;
box-shadow:0 0 5px 0 #000000;
moz-box-shadow:0 0 5px 0 #000000;
webkit-box-shadow:0 0 5px 0 #000000;
margin-bottom:15px;
}

.pagepanel1header {
  font-weight:bold;
  color:#ffffff;
font-size:25px;
padding-left:5px;
border-bottom:2px solid #ffffff;
}

.contactdetails{
  padding:5px;
  color:#ffffff;
}


#pagepanel2 {
width:270px;
background:#000000; 
border-radius:5px; 
moz-border-radius:5px; 
webkit-border-radius:5px;
padding:5px;
box-shadow:0 0 5px 0 #000000;
moz-box-shadow:0 0 5px 0 #000000;
webkit-box-shadow:0 0 5px 0 #000000;
}

.pagepanel2header {
  font-weight:bold;
  color:#ffffff;
font-size:25px;
padding-left:5px;
border-bottom:2px solid #ffffff;
}


.contactdetails2{
  font-size:0.9em;
  padding:5px;
  color:#ffffff;
}

#pagepanel3 {
width:270px;
background:#000000; 
border-radius:5px; 
moz-border-radius:5px; 
webkit-border-radius:5px;
padding:5px;
box-shadow:0 0 5px 0 #000000;
moz-box-shadow:0 0 5px 0 #000000;
webkit-box-shadow:0 0 5px 0 #000000;
margin-top:15px;
margin-bottom:10px;
}

.pagepanel3header {
  font-weight:bold;
  color:#ffffff;
font-size:25px;
padding-left:5px;
border-bottom:2px solid #ffffff;
}


.contactdetails3{
  font-size:0.9em;
  padding:5px;
  color:#ffffff;
}

/* Section placeholder */

.pagepanel4 {
width:550px;
height:255px;
background:#eee; 
border:2px solid #39c;;
border-radius:5px; 
moz-border-radius:5px; 
webkit-border-radius:5px;

box-shadow:0 0 5px 0 #000000;
moz-box-shadow:0 0 5px 0 #000000;
webkit-box-shadow:0 0 5px 0 #000000;
margin-top:20px;

}

.pagepanel4header {
  font-weight:bold;
  color:#ffffff;
  background:#39c;
font-size:22px;
padding:4px 0 4px 5px;
border-bottom:3px solid #eee;
}


.contactdetails4{
  font-size:0.9em;
  padding:7px 5px 0 8px;
  color:#000000;
  background:#eee;
  
}

.imgplaceholder
{float:right; width:255px; padding:5px 7px 7px 10px;}

/* form */

form{width:240px; height:205px; line-height:35px; padding:5px 5px 5px 12px; }
label{width:85px; color:#ffffff; float:left;}
input{margin-left:20px; width:120px;}
select{margin-left:20px;}
input#send{width:50px; height:25px; float:right; background:#39c; color:#ffffff; font-weight:bold; border-radius:2px; webkit-border-radius:2px; moz-border-radius:2px; margin-top:4px; }

header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

main {
  width:550px;
  float:right;


}

/* Left menu */

.lmenu {
  float:left;
  width:270px;
  margin-top:50px;
  position:relative;
 
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  
  
}

/* Pre IE9 block-level elements */

header, article, footer, section, main{
  display:block;
  }




